<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Tables</title>

    <!-- Custom fonts for this template -->
    <link href="../../static/admin/vendor/fontawesome-free/css/all.min.css" th:href="@{/admin/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../static/admin/css/sb-admin-2.min.css" th:href="@{/admin/css/sb-admin-2.min.css}" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="../../static/admin/vendor/datatables/dataTables.bootstrap4.min.css" th:href="@{/admin/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">

    <style>
        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

        input:checked + .slider {
            background-color: #2196F3;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }

        .slider.round:before {
            border-radius: 50%;
        }
    </style>

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="/admin">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Interface
        </div>





        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link" href="/admin/category">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Kategoriya</span></a>
        </li>


        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link" href="/admin/blog">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Blog</span></a>
        </li>


        <!--            &lt;!&ndash; Nav Item - Charts &ndash;&gt;-->
        <!--            <li class="nav-item">-->
        <!--                <a class="nav-link" href="#">-->
        <!--                    <i class="fas fa-fw fa-chart-area"></i>-->
        <!--                    <span>Blog</span></a>-->
        <!--            </li>-->







        <!--            &lt;!&ndash; Nav Item - Tables &ndash;&gt;-->
        <!--            <li class="nav-item">-->
        <!--                <a class="nav-link" href="tables.html">-->
        <!--                    <i class="fas fa-fw fa-table"></i>-->
        <!--                    <span>Tables</span></a>-->
        <!--            </li>-->

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <form class="form-inline">
                    <button id="sidebarToggleTop" class="btn btn-link btn-lg d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                </form>

                <!-- Topbar Search -->
                <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                               aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                             aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small"
                                           placeholder="Search for..." aria-label="Search"
                                           aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>

                    <!-- Nav Item - Alerts -->
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-bell fa-fw"></i>
                            <!-- Counter - Alerts -->
                            <span class="badge badge-danger badge-counter">3+</span>
                        </a>
                        <!-- Dropdown - Alerts -->
                        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="alertsDropdown">
                            <h6 class="dropdown-header">
                                Alerts Center
                            </h6>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="mr-3">
                                    <div class="icon-circle bg-primary">
                                        <i class="fas fa-file-alt text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-500">December 12, 2019</div>
                                    <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="mr-3">
                                    <div class="icon-circle bg-success">
                                        <i class="fas fa-donate text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-500">December 7, 2019</div>
                                    $290.29 has been deposited into your account!
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="mr-3">
                                    <div class="icon-circle bg-warning">
                                        <i class="fas fa-exclamation-triangle text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-500">December 2, 2019</div>
                                    Spending Alert: We've noticed unusually high spending for your account.
                                </div>
                            </a>
                            <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                        </div>
                    </li>

                    <!-- Nav Item - Messages -->
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-envelope fa-fw"></i>
                            <!-- Counter - Messages -->
                            <span class="badge badge-danger badge-counter">7</span>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="messagesDropdown">
                            <h6 class="dropdown-header">
                                Message Center
                            </h6>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="../../static/admin/img/undraw_profile_1.svg"
                                         th:src="@{/admin/img/undraw_profile_1.svg}"
                                         alt="...">
                                    <div class="status-indicator bg-success"></div>
                                </div>
                                <div class="font-weight-bold">
                                    <div class="text-truncate">Hi there! I am wondering if you can help me with a
                                        problem I've been having.</div>
                                    <div class="small text-gray-500">Emily Fowler · 58m</div>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="../../static/admin/img/undraw_profile_2.svg"
                                         th:src="@{/admin/img/undraw_profile_2.svg}"
                                         alt="...">
                                    <div class="status-indicator"></div>
                                </div>
                                <div>
                                    <div class="text-truncate">I have the photos that you ordered last month, how
                                        would you like them sent to you?</div>
                                    <div class="small text-gray-500">Jae Chun · 1d</div>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="../../static/admin/img/undraw_profile_3.svg"
                                         th:src="@{/admin/img/undraw_profile_3.svg}"
                                         alt="...">
                                    <div class="status-indicator bg-warning"></div>
                                </div>
                                <div>
                                    <div class="text-truncate">Last month's report looks great, I am very happy with
                                        the progress so far, keep up the good work!</div>
                                    <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"
                                         alt="...">
                                    <div class="status-indicator bg-success"></div>
                                </div>
                                <div>
                                    <div class="text-truncate">Am I a good boy? The reason I ask is because someone
                                        told me that people say this to all dogs, even if they aren't good...</div>
                                    <div class="small text-gray-500">Chicken the Dog · 2w</div>
                                </div>
                            </a>
                            <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                        </div>
                    </li>

                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">Douglas McGee</span>
                            <img class="img-profile rounded-circle"
                                 src="../../static/admin/img/undraw_profile.svg"
                                 th:src="@{/admin/img/undraw_profile.svg}"
                            >
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profile
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                Settings
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                Activity Log
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Blog</h1>


<!--                <h4>wsfsdfs</h4>-->
<!--                <label class="switch">-->
<!--                  <input id="isPublish" type="checkbox" checked>-->
<!--                  <span class="slider round">aaa</span>-->
<!--                </label>-->

<!--                <h4>wsfsdfs</h4>-->
<!--                <label class="switch">-->
<!--                    <input id="isMainSlider" type="checkbox" checked>-->
<!--                    <span class="slider round">aaa</span>-->
<!--                </label>-->

                <ul class="nav nav-tabs mb-3 w-100 text-center" id="pills-tab" role="tablist">
                    <li class="nav-item w-25" role="presentation">
                        <a class="nav-link active" id="pills-lotin-tab" data-toggle="pill" href="#pills-lotin" role="tab" aria-controls="pills-lotin" aria-selected="true">O'zbekcha <img src="../../static/custom-icons/uz.png" th:src="@{/custom-icons/uz.png}"></a>
                    </li>
                    <li class="nav-item w-25" role="presentation">
                        <a class="nav-link" id="pills-krill-tab" data-toggle="pill" href="#pills-krill" role="tab" aria-controls="pills-krill" aria-selected="false">Ўзбекча <img src="../../static/custom-icons/uz.png" th:src="@{/custom-icons/uz.png}"></a>
                    </li>
                    <li class="nav-item w-25" role="presentation">
                        <a class="nav-link" id="pills-ru-tab" data-toggle="pill" href="#pills-ru" role="tab" aria-controls="pills-ru" aria-selected="false">русский <img src="../../static/custom-icons/ru.png" th:src="@{/custom-icons/ru.png}"></a>
                    </li>
                    <li class="nav-item w-25" role="presentation">
                        <a class="nav-link" id="pills-en-tab" data-toggle="pill" href="#pills-en" role="tab" aria-controls="pills-en" aria-selected="false">English <img src="../../static/custom-icons/en.png" th:src="@{/custom-icons/en.png}"></a>
                    </li>
                </ul>


                <div class="tab-content" id="pills-tabContent">


                    <div class="tab-pane fade show active" id="pills-lotin" role="tabpanel" aria-labelledby="pills-lotin-tab">
<!--                        <h3 class="text-center mb-4 " id="addOrEditUserH3">Blog</h3>-->
                        <form class="login-form" name="addOrEditUserForm" id="oz">
                            <div class="form-group">
                                <input name="id" type="text" class="form-control rounded-left" hidden>
                            </div>



                            <div class="form-group flex-column">
                                <label for="title_oz" class="mb-0 ">Sarlavha</label>
                                <input name="title_oz" id="title_oz" type="text" class="form-control rounded-left"
                                       placeholder="Sarlavha" required>
                            </div>
                            <div class="form-group flex-column">
                                <label for="anons_oz" class="mb-0 ">Anons</label>
                                <textarea name="anons_oz" id="anons_oz" type="text" class="form-control rounded-left"
                                       placeholder="Anons" required></textarea>
                            </div>

                            <div class="form-group flex-column text-center">
                                <label for="mainImage_oz" class="mb-0 ">Asosiy rasm</label>
                                <input name="mainImage_oz" id="mainImage_oz" type="file" class="form-control rounded-left"
                                       placeholder="Asosiy rasm" required onchange="changeImage(event)">
                                <img class="main_image" id="image">
                            </div>


                            <div class="form-group d-flex flex-column">
                                <label for="blog_category_oz" class="mb-0">Kategoriya</label>
                                <select name="roleId" class="custom-select form-control rounded-left"
                                        id="blog_category_oz"
                                        aria-label="Example select with button addon" required>
                                    <option value="">Kategoriyani tanlang</option>
                                    <option value="1">PARENT</option>
                                    <option value="2">BLOGS</option>
                                    <option value="3">SERVICES</option>
                                </select>
                            </div>


                            <div class="form-group flex-column">
                                <label for="summernote_oz" class="mb-0 ">Text</label>
                                <div id="summernote_oz" class="summernote_oz"></div>
                            </div>


                        </form>
                    </div>



                    <div class="tab-pane fade" id="pills-krill" role="tabpanel" aria-labelledby="pills-krill-tab">
<!--                        <h3 class="text-center mb-4 "  >Kategoriya qo'shish</h3>-->
                        <form class="login-form" name="addOrEditUserForm" id="uz">
                            <div class="form-group">
                                <input name="id" type="text" class="form-control rounded-left" hidden>
                            </div>


                            <div class="form-group flex-column">
                                <label for="title_uz" class="mb-0 ">Сарлавҳа</label>
                                <input name="title_uz" id="title_uz" type="text" class="form-control rounded-left"
                                       placeholder="Сарлавҳа" required>
                            </div>
                            <div class="form-group flex-column">
                                <label for="anons_uz" class="mb-0 ">Aнонс</label>
                                <textarea name="anons_uz" id="anons_uz" type="text" class="form-control rounded-left"
                                          placeholder="Aнонс" required></textarea>
                            </div>

                            <div class="form-group flex-column text-center">
                                <label for="mainImage_uz" class="mb-0 ">Aсосий расм</label>
                                <input name="mainImage_uz" id="mainImage_uz" type="file" class="form-control rounded-left"
                                       placeholder="Aсосий расм" required>
                                <img class="main_image">
                            </div>


                            <div class="form-group d-flex flex-column">
                                <label for="blog_category_uz" class="mb-0">Категория</label>
                                <select name="roleId" class="custom-select form-control rounded-left"
                                        id="blog_category_uz"
                                        aria-label="Example select with button addon" required>
                                    <option value="">Категорияни танланг</option>
                                    <option value="1">PARENT</option>
                                    <option value="2">BLOGS</option>
                                    <option value="3">SERVICES</option>
                                </select>
                            </div>

                            <div class="form-group flex-column">
                                <label for="summernote_uz" class="mb-0 ">Text</label>
                                <div id="summernote_uz" class="summernote_uz"></div>
                            </div>


                        </form>
                    </div>



                    <div class="tab-pane fade" id="pills-ru" role="tabpanel" aria-labelledby="pills-ru-tab">
                        <form class="login-form" name="addOrEditUserForm" id="ru">
                            <div class="form-group">
                                <input name="id" type="text" class="form-control rounded-left" hidden>
                            </div>


                            <div class="form-group flex-column">
                                <label for="title_ru" class="mb-0 ">Заголовок</label>
                                <input name="title_ru" id="title_ru" type="text" class="form-control rounded-left"
                                       placeholder="Заголовок" required>
                            </div>
                            <div class="form-group flex-column">
                                <label for="anons_ru" class="mb-0 ">Объявление</label>
                                <textarea name="anons_ru" id="anons_ru" type="text" class="form-control rounded-left"
                                          placeholder="Объявление" required></textarea>
                            </div>

                            <div class="form-group flex-column text-center">
                                <label for="mainImage_ru" class="mb-0 ">Главное фото</label>
                                <input name="mainImage_ru" id="mainImage_ru" type="file" class="form-control rounded-left"
                                       placeholder="Главное фото" required>
                                <img class="main_image">
                            </div>


                            <div class="form-group d-flex flex-column">
                                <label for="blog_category_ru" class="mb-0">Категория</label>
                                <select name="roleId" class="custom-select form-control rounded-left"
                                        id="blog_category_ru"
                                        aria-label="Example select with button addon" required>
                                    <option value="">Выбрать категорию</option>
                                    <option value="1">PARENT</option>
                                    <option value="2">BLOGS</option>
                                    <option value="3">SERVICES</option>
                                </select>
                            </div>

                            <div class="form-group flex-column">
                                <label for="summernote_ru" class="mb-0 ">Текст</label>
                                <div id="summernote_ru" class="summernote_ru"></div>
                            </div>


                        </form>
                    </div>



                    <div class="tab-pane fade" id="pills-en" role="tabpanel" aria-labelledby="pills-en-tab">
                        <form class="login-form" name="addOrEditUserForm" id="en">
                            <div class="form-group">
                                <input name="id" id="id" type="text" class="form-control rounded-left" hidden>
                            </div>


                            <div class="form-group flex-column">
                                <label for="title_en" class="mb-0 ">Title</label>
                                <input name="title_en" id="title_en" type="text" class="form-control rounded-left"
                                       placeholder="Title" required>
                            </div>
                            <div class="form-group flex-column">
                                <label for="anons_en" class="mb-0 ">Anons</label>
                                <textarea name="anons_en" id="anons_en" type="text" class="form-control rounded-left"
                                          placeholder="Anons" required></textarea>
                            </div>

                            <div class="form-group flex-column text-center">
                                <label for="mainImage_en" class="mb-0 ">Main image</label>
                                <input name="mainImage_en" id="mainImage_en" type="file" class="form-control rounded-left"
                                       placeholder="Main image" required>
                                <img class="main_image">
                            </div>


                            <div class="form-group d-flex flex-column">
                                <label for="blog_category_en" class="mb-0">Category</label>
                                <select name="roleId" class="custom-select form-control rounded-left"
                                        id="blog_category_en"
                                        aria-label="Example select with button addon" required>
                                    <option value="">Select a category</option>
                                    <option value="1">PARENT</option>
                                    <option value="2">BLOGS</option>
                                    <option value="3">SERVICES</option>
                                </select>
                            </div>

                            <div class="form-group flex-column">
                                <label for="summernote_en" class="mb-0 ">Text</label>
                                <div id="summernote_en" class="summernote_en"></div>
                            </div>


                        </form>

                    </div>



                </div>


                <button onclick="saveBlog()" id="save_button" class="btn-lg btn btn-success mt-5 mb-5">Saqlash</button>

<!--                <div id="summernote">Hello Summernote</div>-->


            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white mt-5">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2020</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>



<!-- axios -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script src="../../static/admin/js/Request.js" th:src="@{/admin/js/Request.js}"></script>
<script src="../../static/admin/js/blog-admin.js" th:src="@{/admin/js/blog-admin.js}"></script>


<script>
    createSelectCategory()
    console.log(window.location.pathname)
    let id=window.location.pathname.slice(17);
    if (id!=""){
        getBlogEdit(id)
    }

</script>




<!-- Bootstrap core JavaScript-->
<script src="../../static/assets/js/jquery.min.js" th:src="@{/assets/js/jquery.min.js}"></script>

<!-- Core plugin JavaScript-->
<script src="../../static/assets/js/easing/jquery.easing.min.js" th:src="@{/assets/js/easing/jquery.easing.min.js}"></script>

<script src="../../static/admin/vendor/bootstrap/js/bootstrap.bundle.min.js" th:src="@{/admin/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!--    <script src="../../static/assets/js/bootstrap.bundle.min.js" th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>-->


<!-- Custom scripts for all pages-->
<script src="../../static/admin/js/sb-admin-2.min.js" th:src="@{/admin/js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<!--<script src="../../static/assets/chart.js/Chart.min.js" th:src="@{/assets/chart.js/Chart.min.js}"></script>-->

<!-- Page level custom scripts -->
<!--<script src="../../static/admin/js/demo/chart-area-demo.js" th:src="@{/admin/js/demo/chart-area-demo.js}"></script>-->
<!--<script src="../../static/admin/js/demo/chart-pie-demo.js" th:src="@{/admin/js/demo/chart-pie-demo.js}"></script>-->

<link href="../../static/summernote/summernote-bs5.css" th:href="@{/summernote/summernote-bs5.css}" rel="stylesheet">
<script src="../../static/summernote/summernote-bs5.js" th:src="@{/summernote/summernote-bs5.js}"></script>
<script>
    $(document).ready(function() {
        $('#summernote_oz').summernote();
        $('#summernote_uz').summernote();
        $('#summernote_ru').summernote();
        $('#summernote_en').summernote();
    });

    $('#summernote_oz').summernote({
        height: 500,                 // set editor height
        minHeight: null,             // set minimum height of editor
        maxHeight: null,             // set maximum height of editor
        focus: true                  // set focus to editable area after initializing summernote
    });
    $('#summernote_uz').summernote({
        height: 500,                 // set editor height
        minHeight: null,             // set minimum height of editor
        maxHeight: null,             // set maximum height of editor
        focus: true                  // set focus to editable area after initializing summernote
    });
    $('#summernote_ru').summernote({
        height: 500,                 // set editor height
        minHeight: null,             // set minimum height of editor
        maxHeight: null,             // set maximum height of editor
        focus: true                  // set focus to editable area after initializing summernote
    });
    $('#summernote_en').summernote({
        height: 500,                 // set editor height
        minHeight: null,             // set minimum height of editor
        maxHeight: null,             // set maximum height of editor
        focus: true                  // set focus to editable area after initializing summernote
    });
</script>
<!--<script>-->
<!--    $(document).ready(function () {-->
<!--        $("#exampleModalCenter").on('hide.bs.modal', function () {-->
<!--            document.getElementById('addOrEditUserForm').reset();-->
<!--        });-->
<!--    });-->


<!--</script>-->
</body>

</html>
