<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Liting - Blogs</title>

    <!-- Custom fonts for this template -->
    <link href="../../static/admin/vendor/fontawesome-free/css/all.min.css" th:href="@{/admin/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
<!--    <link-->
<!--            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"-->
<!--            rel="stylesheet">-->

    <!-- Custom styles for this template -->
    <link href="../../static/admin/css/sb-admin-2.min.css" th:href="@{/admin/css/sb-admin-2.min.css}" rel="stylesheet">
    <style>
        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

        input:checked + .slider {
            background-color: #2196F3;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }

        .slider.round:before {
            border-radius: 50%;
        }
    </style>
    <!-- Custom styles for this page -->
<!--    <link href="../../static/admin/vendor/datatables/dataTables.bootstrap4.min.css" th:href="@{/admin/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">-->

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <div th:insert="admin/components/sidebar::sidebar"></div>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <div th:insert="admin/components/nav::nav"></div>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Bloglar</h1>
                <!--                    <p class="mb-2">Пользователи в системе</p>-->


                <!--// Add User button and modal-->
                <div>
                    <section class="ftco-section pb-2">
                        <div class="row">
                            <div class="col-md-2 d-flex ">
                                <div class="wrap w-100">
                                    <a href="/admin/blog/add" class="btn btn-primary py-2 px-4"
                                            id="addBlogBtn"
                                    >
                                        Blog qo'shish
                                    </a>

                                    <!-- Modal -->
                                </div>
                            </div>

                            <div class="col-md-4 float-left">
                                <label for="filterByCategory"> Saralash
                                    <select onchange="filterByCategoryOnSelect(this.value)" id="filterByCategory" class="custom-select">
<!--                                        <option selected>All</option>-->
                                    </select>
                                </label>
                            </div>
                        </div>

                    </section>

                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header p-2">
                                    <button type="button"
                                            class="close d-flex align-items-center justify-content-center h-25 "
                                            id="closeFormBtn"
                                            data-dismiss="modal" aria-label="Close">
                                        <!--                                        <span aria-hidden="true" class="ion-ios-close">x</span>-->
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#0088BC"
                                             class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                                        </svg>
                                    </button>
                                </div>
                                <div class="modal-body  pb-md-5 pl-md-5 pr-md-5 pt-md-2">
                                    <h3 class="text-center mb-4 " id="addOrEditUserH3">Kategoriya qo'shish</h3>


                                    <div class="form-group flex-column">
                                        <label for="place" class="mb-0 ">Kategoriya nomi (O'zbekcha)</label>
                                        <input name="place" id="place" type="text" class="form-control rounded-left"
                                               placeholder="place" required>
                                    </div>

                                    <form action="#" class="login-form" name="addOrEditUserForm" id="addOrEditUserForm"
                                          onsubmit="addOrEditCategory(event)">
                                        <div class="form-group">
                                            <input name="id" type="text" class="form-control rounded-left" hidden>
                                        </div>


                                        <div class="form-group flex-column">
                                            <label for="name_oz" class="mb-0 ">Kategoriya nomi (O'zbekcha)</label>
                                            <input name="name_oz" id="name_oz" type="text" class="form-control rounded-left"
                                                   placeholder="O'zbekcha" required>
                                        </div>

                                        <div class="form-group flex-column">
                                            <label for="name_uz" class="mb-0 ">Категория номи (Ўзбекча)</label>
                                            <input name="name_uz" id="name_uz" type="text" class="form-control rounded-left"
                                                   placeholder="Ўзбекча" required>
                                        </div>
                                        <div class="form-group flex-column">
                                            <label for="name_ru" class="mb-0 ">Название категории (рус.)</label>
                                            <input name="name_ru" id="name_ru" type="text" class="form-control rounded-left"
                                                   placeholder="русский" required>
                                        </div>
                                        <div class="form-group flex-column">
                                            <label for="name_en" class="mb-0 ">Category Name (English)</label>
                                            <input name="name_en" id="name_en" type="text" class="form-control rounded-left"
                                                   placeholder="English" required>
                                        </div>


                                        <!--                                            <div class="form-group d-flex flex-column">-->
                                        <!--                                                <label for="email" class="mb-0">Эл. адрес</label>-->
                                        <!--                                                <input name="email" type="email" id="email" class="form-control rounded-left"-->
                                        <!--                                                       placeholder="Эл. адрес" required>-->
                                        <!--                                            </div>-->
                                        <!--                                            <div class="form-group d-flex flex-column">-->
                                        <!--                                                <label for="password" class="mb-0">Пароль</label>-->
                                        <!--                                                <input name="password" type="password" id="password" class="form-control rounded-left"-->
                                        <!--                                                       placeholder="Пароль" required>-->
                                        <!--                                            </div>-->
                                        <!--                                            <div class="form-group d-flex flex-column">-->
                                        <!--                                                <label for="phone" class="mb-0">Номер телефона</label>-->
                                        <!--                                                <input name="phone" type="tel" id="phone" class="form-control rounded-left"-->
                                        <!--                                                       placeholder="Номер телефона" required>-->
                                        <!--                                            </div>-->
                                        <!--                                            <div class="form-group d-flex flex-column">-->
                                        <!--                                                <label for="fio" class="mb-0">Полное имя</label>-->
                                        <!--                                                <input name="fio" type="text" id="fio" class="form-control rounded-left"-->
                                        <!--                                                       placeholder="Полное имя" required>-->
                                        <!--                                            </div>-->
                                        <div class="form-group d-flex flex-column">
                                            <label for="inputGroupSelect03" class="mb-0">Kategoriya turi</label>
                                            <select name="roleId" class="custom-select form-control rounded-left"
                                                    id="inputGroupSelect03"
                                                    aria-label="Example select with button addon" required>
                                                <option value="">Turini tanlang</option>
                                                <option value="1">PARENT</option>
                                                <option value="2">BLOGS</option>
                                                <option value="3">SERVICES</option>
                                                <!--                                                    <option value="4">ENERGETIC</option>-->
                                                <!--                                                    <option value="5">METROLOGIST</option>-->
                                                <!--                                                    <option value="5">GEOLOGIST</option>-->
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <button type="submit"
                                                    id="addOrEditUserBtn"
                                                    class="form-control btn btn-primary rounded submit px-3">Добавить
                                            </button>
                                        </div>

                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
















                <div class="">

                    <!-- Pagination -->
                    <div class="col-sm-12 col-md-7">
                        <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate1">
                            <ul class="pagination">
                                <li class="paginate_button page-item previous disabled"
                                    id="dataTable_previous"><a href="#" aria-controls="dataTable"
                                                               data-dt-idx="0" tabindex="0"
                                                               class="page-link">Previous</a></li>
                                <li class="paginate_button page-item active"><a href="#"
                                                                                aria-controls="dataTable"
                                                                                data-dt-idx="1"
                                                                                tabindex="0"
                                                                                class="page-link">1</a>
                                </li>
                                <li class="paginate_button page-item "><a href="#"
                                                                          aria-controls="dataTable"
                                                                          data-dt-idx="2" tabindex="0"
                                                                          class="page-link">2</a></li>
                                <li class="paginate_button page-item "><a href="#"
                                                                          aria-controls="dataTable"
                                                                          data-dt-idx="3" tabindex="0"
                                                                          class="page-link">3</a></li>
                                <li class="paginate_button page-item "><a href="#"
                                                                          aria-controls="dataTable"
                                                                          data-dt-idx="4" tabindex="0"
                                                                          class="page-link">4</a></li>
                                <li class="paginate_button page-item "><a href="#"
                                                                          aria-controls="dataTable"
                                                                          data-dt-idx="5" tabindex="0"
                                                                          class="page-link">5</a></li>
                                <li class="paginate_button page-item "><a href="#"
                                                                          aria-controls="dataTable"
                                                                          data-dt-idx="6" tabindex="0"
                                                                          class="page-link">6</a></li>
                                <li class="paginate_button page-item next" id="dataTable_next"><a
                                        href="#" aria-controls="dataTable" data-dt-idx="7" tabindex="0"
                                        class="page-link">Next</a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- Basic Card Example -->

                    <div id="blogList">
                        <div class="card shadow row mb-4 p-1">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src="../../static/assets/images/birinchi.jpg" class="card-img" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aut cupiditate dicta id ipsum itaque nemo provident, quo repellendus voluptates. Explicabo facere numquam, odit perferendis praesentium quidem repellat tempora? Voluptatem.
                                        </p>

                                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                    </div>


                                </div>


                                <div class="p-3 col-md-4 d-flex justify-content-start">
                                    Kategoriya:
                                </div>
                                <div class="p-3 col-md-8 d-flex justify-content-end">
                                    <button class="btn btn-info m-1">Saytda ko'rish</button>
                                    <button class="btn btn-success m-1">Tahrirlash</button>
                                    <button class="btn btn-danger m-1">O'chirish</button>
                                </div>


                            </div>

                        </div>


                        <div class="card shadow row mb-4 p-1">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src="../../static/assets/images/birinchi.jpg" class="card-img" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aut cupiditate dicta id ipsum itaque nemo provident, quo repellendus voluptates. Explicabo facere numquam, odit perferendis praesentium quidem repellat tempora? Voluptatem.
                                        </p>

                                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                    </div>


                                </div>


                                <div class="p-3 col-md-4 d-flex justify-content-start">
                                    Kategoriya:
                                </div>
                                <div class="p-3 col-md-8 d-flex justify-content-end">
                                    <button class="btn btn-info m-1">Saytda ko'rish</button>
                                    <button class="btn btn-success m-1">Tahrirlash</button>
                                    <button class="btn btn-danger m-1">O'chirish</button>
                                </div>


                            </div>

                        </div>
                    </div>




                    <!-- Pagination -->
                    <div class="col-sm-12 col-md-7">
                        <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                            <ul class="pagination">
                                <li class="paginate_button page-item previous disabled"
                                    id="dataTable_previous"><a href="#" aria-controls="dataTable"
                                                               data-dt-idx="0" tabindex="0"
                                                               class="page-link">Previous</a></li>
                                <li class="paginate_button page-item active"><a href="#"
                                                                                aria-controls="dataTable"
                                                                                data-dt-idx="1"
                                                                                tabindex="0"
                                                                                class="page-link">1</a>
                                </li>
                                <li class="paginate_button page-item "><a href="#"
                                                                          aria-controls="dataTable"
                                                                          data-dt-idx="2" tabindex="0"
                                                                          class="page-link">2</a></li>
                                <li class="paginate_button page-item "><a href="#"
                                                                          aria-controls="dataTable"
                                                                          data-dt-idx="3" tabindex="0"
                                                                          class="page-link">3</a></li>
                                <li class="paginate_button page-item "><a href="#"
                                                                          aria-controls="dataTable"
                                                                          data-dt-idx="4" tabindex="0"
                                                                          class="page-link">4</a></li>
                                <li class="paginate_button page-item "><a href="#"
                                                                          aria-controls="dataTable"
                                                                          data-dt-idx="5" tabindex="0"
                                                                          class="page-link">5</a></li>
                                <li class="paginate_button page-item "><a href="#"
                                                                          aria-controls="dataTable"
                                                                          data-dt-idx="6" tabindex="0"
                                                                          class="page-link">6</a></li>
                                <li class="paginate_button page-item next" id="dataTable_next"><a
                                        href="#" aria-controls="dataTable" data-dt-idx="7" tabindex="0"
                                        class="page-link">Next</a></li>
                            </ul>
                        </div>
                    </div>

                </div>






















            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
<!--        <footer class="sticky-footer bg-white">-->
<!--            <div class="container my-auto">-->
<!--                <div class="copyright text-center my-auto">-->
<!--                    <span>Copyright &copy; Your Website 2020</span>-->
<!--                </div>-->
<!--            </div>-->
<!--        </footer>-->
        <div th:insert="admin/components/footer::footer"></div>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>



<!-- axios -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>



<!-- Bootstrap core JavaScript-->
<script src="../../static/assets/js/jquery.min.js" th:src="@{/assets/js/jquery.min.js}"></script>
<!--<script src="../../static/admin/vendor/bootstrap/js/bootstrap.bundle.min.js" th:src="@{/admin/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>-->
    <script src="../../static/assets/js/bootstrap.bundle.min.js" th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>

<script src="../../static/admin/js/Request.js" th:src="@{/admin/js/Request.js}"></script>
<script src="/static/admin/js/blog-admin.js" th:src="@{/admin/js/blog-admin.js}"></script>
<script>
    createBlogList()
    createFilterSelect()
    // getAllCategories();
    // getAllRoles();
</script>


<!-- Core plugin JavaScript-->
<script src="../../static/assets/js/easing/jquery.easing.min.js" th:src="@{/assets/js/easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script src="../../static/admin/js/sb-admin-2.min.js" th:src="@{/admin/js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script src="../../static/assets/chart.js/Chart.min.js" th:src="@{/assets/chart.js/Chart.min.js}"></script>

<!--&lt;!&ndash; Page level custom scripts &ndash;&gt;-->
<!--<script src="../../static/admin/js/demo/chart-area-demo.js" th:src="@{/admin/js/demo/chart-area-demo.js}"></script>-->
<!--<script src="../../static/admin/js/demo/chart-pie-demo.js" th:src="@{/admin/js/demo/chart-pie-demo.js}"></script>-->

<!--<link href="../../static/summernote/summernote-bs5.css" th:href="@{/summernote/summernote-bs5.css}" rel="stylesheet">-->
<!--<script src="../../static/summernote/summernote-bs5.js" th:src="@{/summernote/summernote-bs5.js}"></script>-->
<!--<script>-->
<!--    $(document).ready(function() {-->
<!--        $('#summernote').summernote();-->
<!--    });-->
<!--</script>-->
<script>
    $(document).ready(function () {
        $("#exampleModalCenter").on('hide.bs.modal', function () {
            document.getElementById('addOrEditUserForm').reset();
        });
    });


</script>
<script src="/static/admin/js/login.js" th:src="@{/admin/js/login.js}"></script>

</body>

</html>
