<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Tables</title>

    <!-- Custom fonts for this template -->
    <link href="../../static/admin/vendor/fontawesome-free/css/all.min.css" th:href="@{/admin/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <!--    <link-->
    <!--        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"-->
    <!--        rel="stylesheet">-->

    <!-- Custom styles for this template -->
    <link href="../../static/admin/css/sb-admin-2.min.css" th:href="@{/admin/css/sb-admin-2.min.css}" rel="stylesheet">

    <style>
        /**{*/
        /*    margin:0;*/
        /*    padding:0;*/
        /*    font-family:monospace;*/
        /*    color:#333;*/
        /*    text-align:center;*/
        /*}*/
        /*table{*/
        /*    font-size:24px;*/
        /*    width:200px;*/
        /*    margin:20px auto;*/
        /*}*/
        /*td{*/
        /*    padding:5px 10px;*/
        /*    cursor:pointer;*/
        /*}*/
        /*tr:nth-child(odd){*/
        /*    background:#ddd;*/
        /*}*/
        /*tr:nth-child(even){*/
        /*    background:#bbb;*/
        /*}*/

    </style>
    <!-- Custom styles for this page -->
    <!--    <link href="../../static/admin/vendor/datatables/dataTables.bootstrap4.min.css" th:href="@{/admin/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">-->

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <div th:insert="admin/components/sidebar::sidebar"></div>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <div th:insert="admin/components/nav::nav"></div>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Partner</h1>
                <!--                    <p class="mb-2">Пользователи в системе</p>-->

                <!--// Add User button and modal-->
                <div>
                    <section class="ftco-section pb-2">
                        <div class="row">
                            <div class="col-md-6 d-flex ">
                                <div class="wrap w-100">
                                    <button type="button" class="btn btn-primary py-2 px-4" data-toggle="modal"
                                            data-target="#exampleModalCenter"
                                            id="addUserBtn">
                                        Partner qo'shish
                                    </button>

                                    <!-- Modal -->
                                </div>
                            </div>
                        </div>




                    </section>

                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header p-2">
                                    <button type="button"
                                            class="close d-flex align-items-center justify-content-center h-25 "
                                            id="closeFormBtn"
                                            data-dismiss="modal" aria-label="Close">
                                        <!--                                        <span aria-hidden="true" class="ion-ios-close">x</span>-->
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#0088BC"
                                             class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                                        </svg>
                                    </button>
                                </div>
                                <div class="modal-body  pb-md-5 pl-md-5 pr-md-5 pt-md-2">
                                    <h3 class="text-center mb-4 " id="">Partner qo'shish</h3>
                                    <form action="#" class="login-form" name="addOrEditUserForm" id="addOrEditUserForm"
                                          onsubmit="addPartner(event)">
                                        <div class="form-group">
                                            <input name="id" type="text" class="form-control rounded-left" hidden>
                                        </div>

                                        <div class="form-group flex-column">
                                            <label for="name" class="mb-0 ">name</label>
                                            <input name="name" id="name" type="text" class="form-control rounded-left"
                                                   placeholder="O'zbekcha" required>
                                        </div>
                                        <div class="form-group flex-column">
                                            <label for="surname" class="mb-0 ">surname</label>
                                            <input name="surname" id="surname" type="text" class="form-control rounded-left"
                                                   placeholder="Ўзбекча" required>
                                        </div>
                                        <div class="form-group flex-column">
                                            <label for="company" class="mb-0 ">company</label>
                                            <input name="company" id="company" type="text" class="form-control rounded-left"
                                                   placeholder="Ўзбекча" required>
                                        </div>
                                        <div class="form-group flex-column">
                                            <label for="comment" class="mb-0 ">comment</label>
                                            <input name="comment" id="comment" type="text" class="form-control rounded-left"
                                                   placeholder="Ўзбекча" required>
                                        </div>
                                        <div class="form-group flex-column">
                                            <label for="photo" class="mb-0 ">photo</label>
                                            <input name="photo" id="photo" onsubmit="changePhotos()" type="file" class="form-control rounded-left"
                                                   placeholder="Aсосий расм">
                                            <img class="PartPhoto">
                                        </div>
                                        <div class="form-group flex-column">
                                            <label for="signature" class="mb-0 ">signature</label>
                                            <input name="signature" id="signature" onsubmit="changePhotos()" type="file" class="form-control rounded-left"
                                                   placeholder="Signature">
                                            <img class="PartSignature">
                                        </div>
                                        <div class="form-group">
                                            <button type="submit"
                                                    class="form-control btn btn-primary rounded submit px-3">Добавить
                                            </button>
                                        </div>

                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="modal fade" id="exampleModalCenterEdit" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header p-2">
                                    <button type="button"
                                            class="close d-flex align-items-center justify-content-center h-25 "
                                            id="closeFormBtnEdit"
                                            data-dismiss="modal" aria-label="Close">
                                        <!--                                        <span aria-hidden="true" class="ion-ios-close">x</span>-->
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#0088BC"
                                             class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                                        </svg>
                                    </button>
                                </div>
                                <div class="modal-body  pb-md-5 pl-md-5 pr-md-5 pt-md-2">
                                    <h3 class="text-center mb-4 ">Partner tahrirlash</h3>
                                    <form action="#" class="login-form" name="EditPartnerForm" id="EditPartnerForm"
                                          onsubmit="editPartner(event)">
                                        <div class="form-group">
                                            <input name="id" id="id" type="text" class="form-control rounded-left" hidden>
                                        </div>

                                        <div class="form-group flex-column">
                                            <label for="name_edit" class="mb-0 ">name</label>
                                            <input name="name_edit" id="name_edit" type="text" class="form-control rounded-left"
                                                   placeholder="name_edit" required>
                                        </div>
                                        <div class="form-group flex-column">
                                            <label for="surname_edit" class="mb-0 ">surname_edit</label>
                                            <input name="surname_edit" id="surname_edit" type="text" class="form-control rounded-left"
                                                   placeholder="surname_edit" required>
                                        </div>
                                        <div class="form-group flex-column">
                                            <label for="company_edit" class="mb-0 ">company_edit</label>
                                            <input name="company_edit" id="company_edit" type="text" class="form-control rounded-left"
                                                   placeholder="company_edit" required>
                                        </div>
                                        <div class="form-group flex-column">
                                            <label for="comment_edit" class="mb-0 ">comment_edit</label>
                                            <input name="comment_edit" id="comment_edit" type="text" class="form-control rounded-left"
                                                   placeholder="comment_edit" required>
                                        </div>
                                        <div class="form-group flex-column">
                                            <label for="photo_edit" class="mb-0 ">photo_edit</label>
                                            <input name="photo_edit" id="photo_edit" onsubmit="changePhotos()" type="file" class="form-control rounded-left"
                                                   placeholder="photo">
                                            <img class="PartPhoto" id="editPhoto" height="60" width="80">
                                        </div>
                                        <div class="form-group flex-column">
                                            <label for="signature_edit" class="mb-0 ">signature</label>
                                            <input name="signature_edit" id="signature_edit" onsubmit="changePhotos()" type="file" class="form-control rounded-left"
                                                   placeholder="Signature">
                                            <img class="PartSignature" id="editSignature" height="60" width="80">
                                        </div>
                                        <div class="form-group">
                                            <button type="submit"
                                                    class="form-control btn btn-primary rounded submit px-3">Edit Partner
                                            </button>
                                        </div>

                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- DataTales Example -->

                <div class="tab-content" id="pills-tabContent">

                    <div class="card shadow mb-4 tab-pane show active" id="partner-list" role="tabpanel" aria-labelledby="partner-list">
                        <div class="card-body">
                            <div class="table-responsive">
                                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6">
                                            <div class="dataTables_length" id="dataTable_length"><label>Show <select
                                                    name="dataTable_length" aria-controls="dataTable"
                                                    class="custom-select custom-select-sm form-control form-control-sm">
                                                <option value="10">10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select> entries</label></div>
                                        </div>
                                        <div class="col-sm-12 col-md-6">
                                            <div id="dataTable_filter" class="dataTables_filter"><label>Search:<input
                                                    type="search" class="form-control form-control-sm" placeholder=""
                                                    aria-controls="dataTable"></label></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table class="table table-bordered dataTable" id="dataTable" width="100%"
                                                   cellspacing="0" role="grid" aria-describedby="dataTable_info"
                                                   style="width: 100%;">
                                                <thead>
                                                <tr role="row">
                                                    <th class="sorting sorting_asc users-table-title" tabindex="0"
                                                        aria-controls="dataTable" rowspan="1" colspan="1"
                                                        aria-sort="ascending"
                                                        aria-label="Name: activate to sort column descending"
                                                    >ID
                                                    </th>
                                                    <th class="sorting users-table-title" tabindex="0"
                                                        aria-controls="dataTable" rowspan="1" colspan="1"
                                                        aria-label="Surname: activate to sort column ascending"
                                                    >Name
                                                    </th>

                                                    <th class="sorting users-table-title" tabindex="0"
                                                        aria-controls="dataTable" rowspan="1" colspan="1"
                                                        aria-label="Surname: activate to sort column ascending"
                                                    >Surname
                                                    </th>



                                                    <th class="sorting users-table-title" tabindex="0"
                                                        aria-controls="dataTable" rowspan="1" colspan="1"
                                                        aria-label="Company: activate to sort column ascending"
                                                    >Company

                                                    <th class="sorting users-table-title" tabindex="0"
                                                        aria-controls="dataTable" rowspan="1" colspan="1"
                                                        aria-label="Comment: activate to sort column ascending"
                                                    >Comment

                                                    <th class="sorting users-table-title" tabindex="0"
                                                        aria-controls="dataTable" rowspan="1" colspan="1"
                                                        aria-label="Salary: activate to sort column ascending"
                                                    >Image
                                                    </th>

                                                    <th class="sorting users-table-title" tabindex="0"
                                                        aria-controls="dataTable" rowspan="1" colspan="1"
                                                        aria-label="Salary: activate to sort column ascending"
                                                    >Signature
                                                    </th>

                                                    <th class="sorting users-table-title" tabindex="0"
                                                        aria-controls="dataTable" rowspan="1" colspan="1"
                                                        aria-label="Salary: activate to sort column ascending"
                                                    >Tahrirlash
                                                    </th>

                                                </tr>
                                                </thead>
                                                <tfoot>
                                                <tr>
                                                    <th class="users-table-title" rowspan="1" colspan="1">ID</th>
                                                    <th class="users-table-title" rowspan="1" colspan="1">name</th>
                                                    <th class="users-table-title" rowspan="1" colspan="1">surname</th>

                                                    <th class="users-table-title" rowspan="1" colspan="1">Company</th>
                                                    <th class="users-table-title" rowspan="1" colspan="1">Comment</th>
                                                    <th class="users-table-title" rowspan="1" colspan="1">Image</th>
                                                    <th class="users-table-title" rowspan="1" colspan="1">Signature</th>
                                                    <th class="users-table-title" rowspan="1" colspan="1">Tahrirlash</th>
                                                </tr>
                                                </tfoot>
                                                <tbody id="partner_list">
                                                <tr class="odd">
                                                    <td>Loading. . .</td>
                                                    <td>Loading. . .</td>
                                                    <td>Loading. . .</td>
                                                    <td>Loading. . .</td>
                                                    <td>Loading. . .</td>
                                                    <td>Loading. . .</td>
                                                    <td>Loading. . .</td>
                                                </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-5">
                                            <div class="dataTables_info" id="dataTable_info" role="status"
                                                 aria-live="polite">Showing 1 to 10 of 57 entries
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-7">
                                            <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                                                <ul class="pagination">
                                                    <li class="paginate_button page-item previous disabled"
                                                        id="dataTable_previous"><a href="#" aria-controls="dataTable"
                                                                                   data-dt-idx="0" tabindex="0"
                                                                                   class="page-link">Previous</a></li>
                                                    <li class="paginate_button page-item active"><a href="#"
                                                                                                    aria-controls="dataTable"
                                                                                                    data-dt-idx="1"
                                                                                                    tabindex="0"
                                                                                                    class="page-link">1</a>
                                                    </li>
                                                    <li class="paginate_button page-item "><a href="#"
                                                                                              aria-controls="dataTable"
                                                                                              data-dt-idx="2" tabindex="0"
                                                                                              class="page-link">2</a></li>
                                                    <li class="paginate_button page-item "><a href="#"
                                                                                              aria-controls="dataTable"
                                                                                              data-dt-idx="3" tabindex="0"
                                                                                              class="page-link">3</a></li>
                                                    <li class="paginate_button page-item "><a href="#"
                                                                                              aria-controls="dataTable"
                                                                                              data-dt-idx="4" tabindex="0"
                                                                                              class="page-link">4</a></li>
                                                    <li class="paginate_button page-item "><a href="#"
                                                                                              aria-controls="dataTable"
                                                                                              data-dt-idx="5" tabindex="0"
                                                                                              class="page-link">5</a></li>
                                                    <li class="paginate_button page-item "><a href="#"
                                                                                              aria-controls="dataTable"
                                                                                              data-dt-idx="6" tabindex="0"
                                                                                              class="page-link">6</a></li>
                                                    <li class="paginate_button page-item next" id="dataTable_next"><a
                                                            href="#" aria-controls="dataTable" data-dt-idx="7" tabindex="0"
                                                            class="page-link">Next</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



























                </div>


            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2020</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>
<!-- axios -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script src="../../static/admin/js/Request.js" th:src="@{/admin/js/Request.js}"></script>

<!--<script src="/static/admin/js/category-admin.js" th:src="@{/admin/js/category-admin.js}"></script>-->
<!--<script>-->
<!--    getAllCategories();-->
<!--</script>-->

<!--===== SORTABLE JS =====-->
<!--    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>-->


<!-- Bootstrap core JavaScript-->
<script src="../../static/assets/js/jquery.min.js" th:src="@{/assets/js/jquery.min.js}"></script>
<script src="../../static/admin/vendor/bootstrap/js/bootstrap.bundle.min.js" th:src="@{/admin/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!--    <script src="../../static/assets/js/bootstrap.bundle.min.js" th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>-->

<!-- Core plugin JavaScript-->
<script src="../../static/assets/js/easing/jquery.easing.min.js" th:src="@{/assets/js/easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script src="../../static/admin/js/sb-admin-2.min.js" th:src="@{/admin/js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script src="../../static/assets/chart.js/Chart.min.js" th:src="@{/assets/chart.js/Chart.min.js}"></script>

<!-- Page level custom scripts -->
<script src="../../static/admin/js/demo/chart-area-demo.js" th:src="@{/admin/js/demo/chart-area-demo.js}"></script>
<script src="../../static/admin/js/demo/chart-pie-demo.js" th:src="@{/admin/js/demo/chart-pie-demo.js}"></script>


<script src="/static/admin/js/login.js" th:src="@{/admin/js/login.js}"></script>
<script src="/static/admin/js/partner.js" th:src="@{/admin/js/partner.js}"></script>
<script> partner()</script>
</body>

</html>
