<div th:fragment="footer">
    <footer class="bg-custom-black section-padding footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-box mb-md-80">
                        <div class="footer-heading">
                            <h4 class="text-custom-white no-margin">Useful Links</h4>
                        </div>
                        <ul class="custom links">
                            <li>
                                <a href="index-2.html" class="text-custom-white">Home</a>
                            </li>
                            <li>
                                <a href="about.html" class="text-custom-white">About Us</a>
                            </li>
                            <li>
                                <a href="blog.html" class="text-custom-white">Blog</a>
                            </li>
                            <li>
                                <a href="faqs.html" class="text-custom-white">FAQs</a>
                            </li>
                            <li>
                                <a href="contact-style-1.html" class="text-custom-white">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-box mb-md-80">
                        <div class="footer-heading">
                            <h4 class="text-custom-white no-margin">Insta Feeds</h4>
                        </div>
                        <ul class="custom insta-feed">
                            <li class="insta-item animate-img">
                                <a href="#">
                                    <img src="../static/assets/images/homepage-1/insta-1-80x80.jpg"
                                         th:src="@{/assets/images/homepage-1/insta-1-80x80.jpg}"
                                         class="img-fluid full-width" alt="insta">
                                </a>
                            </li>
                            <li class="insta-item animate-img">
                                <a href="#">
                                    <img src="../static/assets/images/homepage-1/insta-2-80x80.jpg"
                                         th:src="@{/assets/images/homepage-1/insta-2-80x80.jpg}"
                                         class="img-fluid full-width" alt="insta">
                                </a>
                            </li>
                            <li class="insta-item animate-img">
                                <a href="#">
                                    <img src="../static/assets/images/homepage-1/insta-3-80x80.jpg"
                                         th:src="@{/assets/images/homepage-1/insta-3-80x80.jpg}"
                                         class="img-fluid full-width" alt="insta">
                                </a>
                            </li>
                            <li class="insta-item animate-img">
                                <a href="#">
                                    <img src="../static/assets/images/homepage-1/insta-4-80x80.jpg"
                                         th:src="@{/assets/images/homepage-1/insta-4-80x80.jpg}"
                                         class="img-fluid full-width" alt="insta">
                                </a>
                            </li>
                            <li class="insta-item animate-img">
                                <a href="#">
                                    <img src="../static/assets/images/homepage-1/insta-5-80x80.jpg"
                                         th:src="@{/assets/images/homepage-1/insta-5-80x80.jpg}"
                                         class="img-fluid full-width" alt="insta">
                                </a>
                            </li>
                            <li class="insta-item animate-img">
                                <a href="#">
                                    <img src="../static/assets/images/homepage-1/insta-6-80x80.jpg"
                                         th:src="@{/assets/images/homepage-1/insta-6-80x80.jpg}"
                                         class="img-fluid full-width" alt="insta">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-box mb-xs-80">
                        <div class="footer-heading">
                            <h4 class="text-custom-white no-margin">Quick Links</h4>
                        </div>
                        <ul class="custom links">
                            <li>
                                <a href="portfolio-detail.html" class="text-custom-white">Portfolio</a>
                            </li>
                            <li>
                                <a href="cost-calculator.html" class="text-custom-white">Cost Calculator</a>
                            </li>
                            <li>
                                <a href="gallery.html" class="text-custom-white">Gallery</a>
                            </li>
                            <li>
                                <a href="404.html" class="text-custom-white">404</a>
                            </li>
                            <li>
                                <a href="coming-soon.html" class="text-custom-white">Coming Soon</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="footer-box">
                        <div class="footer-heading">
                            <h4 class="text-custom-white no-margin">News Letter</h4>
                        </div>
                        <div class="newsletter">
                            <form>
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-custom" placeholder="Email Id">
                                </div>
                                <button class="btn-first btn-submit btn-height" type="submit">Subscribe</button>
                            </form>
                        </div>
                        <div class="social-media">
                            <ul class="custom social-media">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="payment-logo mb-md-20">
                        <span class="text-custom-white fs-14 mr-3">We are accept</span>
                        <div class="payemt-icon">
                            <img src="../static/assets/images/card01.png" th:src="@{/assets/images/card01.png}" alt="#">
                            <img src="../static/assets/images/card02.png" th:src="@{/assets/images/card02.png}" alt="#">
                            <img src="../static/assets/images/card03.png" th:src="@{/assets/images/card03.png}" alt="#">
                            <img src="../static/assets/images/card04.png" th:src="@{/assets/images/card04.png}" alt="#">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <p class="text-custom-white no-margin">© Slidesigma - 2022 | All Right Reserved. <a href="#" target="_blank" class="text-custom-white">Designed By Slidesigma</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer -->
    <div id="back-top" class="back-top">
        <a href="#top"><i class="fas fa-chevron-up"></i><span class="d-block">Top</span></a>
    </div>
    <!-- login register -->
    <div class="modal fade" id="login-register">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="login-register">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#register">Register</a>
                            </li>
                        </ul>
                        <div class="tab-content padding-20">
                            <div class="tab-pane active" id="login">
                                <form>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <input type="text" name="#" class="form-control form-control-custom" placeholder="User Name" required>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <input type="password" name="#" class="form-control form-control-custom" placeholder="Password" required>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label class="custom-checkbox">
                                                    <input type="checkbox" name="#">  <span class="checkmark"></span> Remember me
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <a href="#" class="text-light-white fs-14">Lost Your Password</a>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <button type="submit" class="btn-first btn-submit full-width btn-height">Login</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="social-links text-center mb-xl-20">
                                    <p class="fs-12 mb-xl-20">Connect with Social Networks</p>
                                    <ul class="custom">
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                    </ul>
                                </div>
                                <div class="decleration">
                                    By creating an account you are accepting our <a href="#" class="text-custom-blue">Terms & Conditions</a>
                                </div>
                            </div>
                            <div class="tab-pane" id="register">
                                <form>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <input type="text" name="#" class="form-control form-control-custom" placeholder="User Name" required>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <input type="email" name="#" class="form-control form-control-custom" placeholder="Email" required>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <input type="password" name="#" class="form-control form-control-custom" placeholder="Password" required>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <input type="password" name="#" class="form-control form-control-custom" placeholder="Retype Password" required>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <select class="form-control form-control-custom custom-select">
                                                    <option>Owner/Buyer</option>
                                                    <option>Agent</option>
                                                    <option>Agency</option>

                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <button type="submit" class="btn-first btn-submit full-width btn-height">Register</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Place all Scripts Here -->
</div>
