<div th:fragment="footer">
    <footer class="bg-custom-black section-padding footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-box mb-md-80">
                        <div class="footer-heading">
                            <h4 class="text-custom-white no-margin">ССЫЛКИ</h4>
                        </div>
                        <ul class="custom links">
                            <li>
                                <a href="index-2.html" class="text-custom-white">Министерство Энергетики Республики Узбекистан</a>
                            </li>
                            <li>
                                <a href="about.html" class="text-custom-white">АО "Узбекнефтегаз"</a>
                            </li>
                            <li>
                                <a href="blog.html" class="text-custom-white">Правительственный Портал <br> Республики Узбекистан</a>
                            </li>
                            <li>
                                <a href="faqs.html" class="text-custom-white">Единый Портал Интерактивных <br> Государственных Услуг</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-box mb-md-80">
                        <div class="footer-heading">
                            <h4 class="text-custom-white no-margin">Insta Feeds</h4>
                        </div>
                        <div class="contact-map">
                            <iframe src="https://maps.google.com/maps/place/AO+%22O'ZLITINEFTGAZ%22/@41.3075979,69.2743424,17.97z/data=!4m8!1m2!2m1!1sskver!3m4!1s0x38ae8b279606b233:0xaeeeb424d7001633!8m2!3d41.3069537!4d69.2739426?hl=uz&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed"
                            ></iframe>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-box mb-xs-80">
                        <div class="footer-heading">
                            <h4 class="text-custom-white no-margin">КОНТАКТЫ</h4>
                        </div>
                        <ul class="custom links">
                            <li>
                                <a href="portfolio-detail.html" class="text-custom-white">Приемная:</a>
                            </li>
                            <li>
                                <a href="cost-calculator.html" class="text-custom-white">Канцелярия:</a>
                            </li>
                            <li>
                                <a href="gallery.html" class="text-custom-white">Телефон доверия:</a>
                            </li>
                            <li>
                                <a href="404.html" class="text-custom-white">Связь с акционерами:</a>
                            </li>
                            <li>
                                <a href="coming-soon.html" class="text-custom-white">Связь с инвесторами:</a>
                            </li>
                            <li>
                                <a href="coming-soon.html" class="text-custom-white">E-mail:</a>
                            </li>
                            <li>
                                <a href="coming-soon.html" class="text-custom-white">Время работы:</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="footer-box">
                        <div class="footer-heading">
                            <h4 class="text-custom-white no-margin">КОНТАКТЫ</h4>
                        </div>
                        <ul class="custom links">
                            <li>
                                <a href="portfolio-detail.html" class="text-custom-white">	(+998 71) 280-67-00</a>
                            </li>
                            <li>
                                <a href="cost-calculator.html" class="text-custom-white">	(+998 71) 280-67-05</a>
                            </li>
                            <li>
                                <a href="gallery.html" class="text-custom-white">		(+998 71) 280-67-26</a>
                            </li>
                            <li>
                                <a href="404.html" class="text-custom-white">	(+998 71) 280-67-11</a>
                            </li>
                            <li>
                                <a href="coming-soon.html" class="text-custom-white">	(+998 71) 280-67-11</a>
                            </li>
                            <li>
                                <a href="coming-soon.html" class="text-custom-white">	liting@liting.uz</a>
                            </li>
                            <li>
                                <a href="coming-soon.html" class="text-custom-white">	Пн - Пт: 8:00 - 17:00</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-8 text-lg-center offset-4">
                    <div class="payment-logo mb-md-20">
                        <span class="text-custom-white fs-14">Copyright © 2021 "O'ZLITINEFTGAZ" Все права защищены <br>При копировании материалов сайта ссылка на источник обязательна</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
